#sidebar, #navWrapper, #footerNav {
    display: none;
}

#banner, #mainWrapper, #footer, #main, #footerMain {
    width: auto;
    margin: 0;
    padding: 0;
}

#footerMain {
    margin: 0;
}

#main {
    float: none;
}

#mainWrapper, #footer {
    overflow: visible;
}

html, body, #banner, #footerWrapper {
    background: #FFF;
}